.THIS .horizontal-radio .slds-radio__label .slds-form-element__label,
.THIS .horizontal-radio .slds-checkbox__label .slds-form-element__label,
.THIS .check-group .slds-checkbox__label .slds-form-element__label,
.THIS .radio-group .slds-radio__label .slds-form-element__label {
    font-weight: normal;
}
.THIS .horizontal-radio .slds-radio + .slds-radio {
    margin-left: 1rem;
}

.THIS .horizontal-radio .slds-form-element__control {
    display: flex;
    flex-wrap: wrap;

}
.item-node{
    display : flex;
}


@media only screen and (max-width: 767px) {
    .heading_header_registration {
        padding: 2rem 1rem;
    }

    .app-sidebar {
        display: none;
    }

    .has-header {
        margin: 1rem;
    }
}

.auth-wrap {
    padding: 3rem;
    min-height: 100vh;
}

.auth-wrap.sidebar {
    background-image: url("/assets/images/KCPE/sidebar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.auth-wrap.main {
    padding: 50px;
    background-color: #fefbff;
}