.tooltip {
  position: relative;

  .lg {
    min-width: 300px;
  }
  &__item {
    position: absolute;
    min-width: 100px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    background: white;
    transition: all .250s cubic-bezier(0, 0, 0.2, 1);
    color: #484848;
    border: 1px solid #cecece;
    border-radius: $border-radius-sm;
    font-weight: 500;
    box-shadow: 0 2px 1px #bcbcbc;
    font-size: $font-size-base;
    z-index:10;
    .title {
      @include font-bold;
      margin-bottom: $gap-xs;
      + p {
        margin: 0;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }
  }


  &__initiator {
    cursor: pointer;
    z-index: 5;
    color: #ccc;
    svg {
      width: $gap-sm * 0.85;
      width: $gap-sm * 0.85;
      margin-top: $gap-xs * 0.25;
      margin-left: $gap-xs;
    }
    &:hover {
      color: #c28b44
    }
  }

  &[data-direction="left"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: 50%;
      right: calc(100% + 1em);
      transform: translate3d(15px, -50%, 0);

      &:after {
        top: 50%;
        right: -0.5em;
        transform: translate3d(0, -50%, 0);
        border-width: 0.5em 0 0.5em 0.5em;
        border-color: transparent transparent transparent white;
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px 2px 1px #bcbcbc);
      }
    }
  }

  &[data-direction="bottom"] {

    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(-50%, 0, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: calc(100% + 1em);
      left: 50%;
      transform: translate3d(-50%, -15px, 0);

      &:after {
        top: -0.5em;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        border-width: 0 0.5em 0.5em 0.5em;
        border-color: transparent transparent white transparent;
        -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
        filter: drop-shadow(1px -1px 1px #bcbcbc);
      }
    }
  }
}
