.heading{
    font-size: 20px;
}


.THIS .horizontal-radio {
    display: flex;
    flex-wrap: wrap;

}

.THIS .horizontal-radio .slds-radio + .slds-radio {
    margin-left: 1rem;
}




.n_head_space {
    margin: 25px 0 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
}
.n_head_space2 {
    padding: 0;
    font-size: 25px;
}
.slds-radio {
    display: inline-block!important;
}
.n_fix_inl {
    padding: 10px 0;
}