.mainhead{
    background-color : #F16821;
}

.inner{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    
}

.table-header{
    background-color : #F09465;
}

.modal__content-height {
    height: 60vh;
    width : 100%;
    /* padding: 1.5rem 3rem; */
}